.button-wrapper {
  display: flex;
  margin-inline-start: auto;
  margin-top: 3rem; /* Espaçamento opcional */
}

/* Botão com Ícone */
.btn-icon {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s;
  gap: 0.5rem;
}

.btn-icon .icon {
  margin-right: 1rem;
  font-size: 1rem;
}

.btn-icon:hover {
  background-color: #0056b3;
}
