.colors {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.color-input {
  display: none;
}

.color-label {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.375rem solid var(--shape-button);
  cursor: pointer;
}

.color-label.selected {
  outline: 2px solid var(--brand-light); /* Ajuste com sua cor de destaque */
}

.color-input:checked + .color-label {
  outline: 2px solid var(--brand-light);
}
