#app {
  display: grid;
  grid-template-columns: 400fr 820fr;

  height: 100vh;
  overflow: hidden;
}

.title {
  gap: 1rem;
  height: 100vh; /* Subtrai o valor do outline para caber no 100vh */
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  /* border: 1.25rem solid; */
  border-left: 1.25rem solid;
  border-bottom: 1.25rem solid;
  border-radius: 1.25rem;
  border-top: 1.25rem solid;
  padding: 3.5rem;
  border-color: black;

  & img {
    height: 3rem;
    width: 3rem;
  }

  & .text-logo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & h1 {
      font: var(--text-logo);
      color: var(--pink);
    }
    & p {
      font: var(--text-bd-md);
      color: var(--text-body);
    }
  }
}

main {
  overflow: scroll;
  padding-bottom: 5rem;
}

.main-container {
  padding-inline: 8.125rem;
  padding-top: 5rem;

  border: 1.25rem solid black;
  padding: 3.5rem;
  border-radius: 1.25rem;

  & h2 {
    font: var(--text-md);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }
}
